<div class="bg-admin">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h3 class="headline-admin"><strong>ジャンル一覧</strong></h3>

				<!-- 新規追加 -->
				<%= form_for [:admins, @genre], html: { class: 'form-horizontal' } do |f| %>
			    <%= f.label :name, "ジャンル", class: 'col-sm-3 cartion-admin' %>
			    <div class="col-sm-4"><%= f.text_field :name, class: 'form-control form-admin' %></div>
			    <div class="col-sm-5">
				    <%= f.radio_button :is_active, :有効, checked: true, class: 'p-admin' %>
				    <%= f.label :name, "有効", class: 'p-admin', style: "display: inline-block;" %>
				    <%= f.radio_button :is_active, :無効 %>
				    <%= f.label :name, "無効", class: 'p-admin', style: "display: inline-block;" %>
				    <%= f.submit "追加", class: "btn btn-admin" %>
			    </div>
				<% end %>
				<!-- 新規追加 -->

				<!-- ジャンル一覧 -->
				<div class="row">
					<table class="table table-admin">
						<thead>
							<tr>
								<th class="caption-admin">ジャンル</th>
								<th class="caption-admin">状態</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @genres.each do |genre| %>
								<tr>
									<td class="p-admin"><%= genre.name %></td>
									<td class="p-admin"><%= genre.is_active %></td>
									<td><%= link_to "編集する", edit_admins_genre_path(genre.id), class: "btn btn-admin" %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>