
<h1>配送先登録/一覧</h1>

<div class="delivery">
	<table class="table">
		<thead>
			<tr>
				<th>郵便番号</th>
				<th>住所</th>
				<th>宛名</th>
			</tr>
		</thead>

		<tbody>
			<%= form_for(@delivery) do |f| %>
			<tr>
				<td><%= f.text_field :zip_code %></td>
				<td><%= f.text_field :address %></td>
				<td><%= f.text_field :distination_name %></td>
			</tr>
		</tbody>
	</table>

	<%= f.submit "登録する" %>
	<% end %>
</div>

<div class="delivery">
	<table class="table">
		<thead>
			<tr>
				<th>郵便番号</th>
				<th>住所</th>
				<th>宛名</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% current_customer.deliveries do |customer_delivery| %>
			<tr>
				<td><%= customer_delivery.zip_code %></td>
				<td><%= customer_delivery.address %></td>
				<td><%= customer_delivery.distination_name %></td>
				<td><%= link_to "編集する", edit_delivery_path %></td>
				<td><%= link_to "削除する", delivery_path, method: :delete %></td>
			</tr>
		</tbody>
	</table>