<!-- customers/top.html.erb -->
<!-- ヘッダー挿入 -->

<div class="container">
  <div class="row row-eq-height">
    <div class="col-md-3">
     <!-- renderで部分テンプレート入る？ジャンル検索コーナー -->
　　　 <h3>ジャンル検索</h3>
      <%= render 'products/genre_search', genres: @genres %>

    </div>

  <!-- <div class="row"> -->

    <div class="col-md-9">
      <div class="row">
        <div class="introduction", align="center">
          <font face="monospace">
            <h1>ようこそ、NaganoCakeへ！</h1><br>
             <h4>信州・長野特産フルーツをふんだんに使用した<br>オリジナルCakeのオンラインストアです。<br>
             会員でない方でも商品の閲覧は可能です！<br>
             購入には会員登録が必要になります。</h4></font>
        </div>
      </div>


      <div class="row">
        <div class="recommend">
          <font face="monospace" align="center">
            <h3>Today's Recommend</h3>
       <table>
      <!-- 商品のeachメソッド入れる -->
      <% @products.each do |product| %>
      <!-- :imageのところはカラム名image_idを想定してる。 -->
      <td>
              <%= link_to product_path(product.id) do %>
              <p><%= attachment_image_tag product, :image, size: "120x120"%></p>
              <p><%= product.name %></p>
              <p>¥<%= product.price %></p>
              <!-- 価格を表示させたい -->
              <% end %>
            </td>
      <% end %>
      <!-- eachメソッドのend入れる -->

      </table>

      <div class="link", align="right">
            <ins><%= link_to "もっと見る", products_path %></ins>
          </div>
          </font>

        </div>
      </div>

    </div>

  </div>
</div>
