<!-- customers/top.html.erb -->
<!-- ヘッダー挿入 -->

<div class="container">
  <div class="row" Valign=center align=center>
    <div class="text-center">
      <h4><%= render "products/genre_search", genres: @genres %></h4>
    </div>

  <!-- <div class="row"> -->

    <div class="col-md-12">
      <div class="row">
        <div class="introduction", align="center">
          <font face="monospace">
            <h1>ようこそ、NaganoCake.comへ！</h1><br>
             <h4><font color="#FF99CC">感動が集まる場所をもっとハッピーに！</font><br>信州・長野特産フルーツをふんだんに使用した<br>オリジナルCakeの<ins>グローバルオンラインストア</ins>です。<br>
             会員でない方でも商品の閲覧は可能です！<br>
             購入には会員登録が必要になります。</h4>
          </font>
        </div>
      </div>

  <!-- </div> -->
      <div>
        <div class="recommend">
          <font face="monospace" align="center">
            <h2>〜♪Today's Recommend♪〜</h2>
        <!-- tableの中央に寄せる -->
        <table Valign=center align=center>
        <!-- 商品のeachメソッド入れる -->
        <% @random.each do |product| %>
        <!-- :imageのところはカラム名image_idを想定してる。 -->
            <td>
              <%= link_to product_path(product.id) do %>
              <p><%= attachment_image_tag product, :image, size: "160x160"%></p>
              <p><%= product.name %></p>
              <p>¥<%= product.price %>　(税抜)</p>
              <% end %>
            </td>
        <% end %>

        </table>

          <div class="link", align="right">
          <%= paginate @products, class: "paginate" %><br>
        <!-- ページネーション -->
            <ins><%= link_to "もっと見る", products_path %></ins>
          </div>
          </font>

        </div>
      </div>

    </div>

  </div>
</div>