<!-- customers/top.html.erb -->
<!-- ヘッダー挿入 -->

<div class="container">
  <div class="row row-eq-height">
    <div class="col-md-3" style="background-color: silver;">
     <!-- renderで部分テンプレート入る？ジャンル検索コーナー -->
　　　 <h3>ジャンル検索</h3>
      <%= render 'products/genre_search', genres: @genres %>

    </div>

  <!-- <div class="row"> -->
    <div class="col-md-9" style="background-color: grey;">
      <div class="row">
        <div class="introduction", style="border: 4px double #ff6699;font-size: 90%; padding: 20px;", align="center">
          <font face="monospace">
            <h1>ようこそ、NaganoCakeへ！</h1><br>
             <h4>信州・長野特産フルーツをふんだんに使用した<br>オリジナルCakeのオンラインストアです。<br>
             会員でない方でも商品の閲覧は可能です！<br>
             購入には会員登録が必要になります。</h4></font>
        </div>
      </div>


      <div class="row">
        <div class="recommend">
          <font face="monospace">
            <h2>〜本日のオススメ商品〜</h2>

      <div>  <!-- 商品のeachメソッド入れる -->
      <% @products.each do |product| %>
        <!-- :imageのところはカラム名image_idを想定してる。 -->
        <div class="product">
          <%= link_to product_path(product.id) do %>
           <%= attachment_image_tag product, :image, :fill, 150, 100, format: 'jpg', class:"img" %><br>
            <strong> <%= product.name %></strong>
                    ¥<%= product.price %>
           <% end %>
        </div>
      </div>

      <% end %>
      <!-- eachメソッドのend入れる -->
      <div>
          <ins><%= link_to "もっと見る", products_path %></ins>
      </div>
          </font>

        </div>
      </div>

    </div>

  </div>
</div>
