<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>会員一覧</h3>
			<table class="table table-responsive">
				<tr>
					<th>会員ID</th>
					<th>氏名</th>
					<th>メールアドレス</th>
					<th>ステータス</th>
				</tr>
				<% @customers.each do |customer| %>
					<tr>
						<td><%= customer.id %></td>
						<td>
							<%= link_to admins_customer_path(customer.id) do %>
								<%= customer.last_name %><%= customer.first_name %>
							<% end %>
						</td>
						<td><%= customer.email %></td>
						<td><%= customer.is_active %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
