<!-- customers/show.html.erb -->
<!-- render部分テンプレート -->


 <div class="container">
  <!-- <div class="row"> -->
    <h3><mark>
      <strong><%= current_customer.last_name %> <%= current_customer.first_name %>　</strong>様のマイページ</mark></h3>
    <br>

   <div class="row">
   <div class="cover">
    <div class="group">
      <label class="col-sm-4 text-center">お客様登録情報</label>

        <button>
        <%= link_to "編集する", edit_customer_path(current_customer.id), class:"glyphicon glyphicon-pencil" %></button>
        <%= link_to "パスワード変更もしくは忘れた方はこちら", new_customer_password_path(current_customer.id), class:"btn btn-warning btn-xs" %>
    </div></br>

    <%= form_for (@customer), html: { class: 'form-horizontal' } do |f| %>
    <!-- <table class="table table-bordered"> -->
      <div class="form-group">
        <label class="col-sm-4 text-center">氏名</label>
        <div class="col-xs-2">
        <%= current_customer.last_name %>　<%= current_customer.first_name %>　様</div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 text-center">フリガナ</label>
        <div class="col-xs-2">
        <%= current_customer.kana_last_name %>　<%= current_customer.kana_first_name %></div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 text-center">メールアドレス</label>
        <div class="col-xs-2">
        <%= current_customer.email %></div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 text-center">郵便番号</label>
        <div class="col-xs-4">
        <%= current_customer.main_zip_code %></div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 text-center">住所</label>
        <div class="col-xs-2">
          <%= current_customer.main_address %></div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 text-center">電話番号</label>
        <div class="col-xs-2">
          <%= current_customer.phone_number %></div>
      </div>

      <% end %></br>
    <!-- </table> -->

    <div class="row">
      <div class="col-xs-8">
        <div class="group">
          <label class="col-sm-3 text-center">　配送先</label>
          <%= link_to "一覧を見る", deliveries_path(current_customer.id), class:"btn btn-info btn-xs" %>
        </div></br>

        <div class="group">
          <label class="col-sm-3 text-center">　　注文履歴</label>
          <%= link_to "一覧を見る", orders_path(current_customer.id), class:"btn btn-info btn-xs" %>
        </div>
     </div>


     <div class="col-xs4">
       <br><br>
       <p><strong><%= link_to "戻る", products_path, class:"text-info" %></strong></p>
     </div>

    </div>
    </div>
 </div>

