<div class="container">
	<div class="row">
		<h3 class="text-center headline-order"><strong>注文情報確認</strong></h3>
		<div class="col-xs-8">
			<table class="table table-bordered">
				<tr>
					<th class="caption-order">商品名</th>
					<th class="caption-order">単価(税込)</th>
					<th class="caption-order">数量</th>
					<th class="caption-order">小計</th>
				</tr>
				<% @cart_items.each do |cart_item| %>
					<tr>
						<td class="p-order"><%= cart_item.product.name %></td>
						<td class="p-order"><%= cart_item.product.tax_price %></td>
						<td class="p-order"><%= cart_item.quantity %></td>
						<td class="p-order"><%= cart_item.subtotal_price %></td>
					</tr>
				<% end %>
			</table>
		</div><!--col-xs-8-->
		<div class="col-xs-4">
			<table class="table table-bordered">
				<tr>
					<th class="caption-order">送料</th>
					<td class="p-order"><%= @order.postage_price %></td>
				</tr>
				<tr>
					<th class="caption-order">商品合計</th>
					<td class="p-order"><%= @order.cart_sum(current_customer) %></td>
				</tr>
				<tr>
					<th class="caption-order">請求金額</th>
					<td class="p-order"><%= @order.total(current_customer) %></td>
				</tr>
			</table>
		</div>

			<div class="col-xs-11 col-xs-offset-1">
				<h4 class="col-xs-3 caption-order">
					<strong>支払方法</strong>
				</h4>
				<span class="col-xs-9 p-order"><%= @is_credit %></span>
			</div>

			<div class="col-xs-11 col-xs-offset-1">
				<h4 class="col-xs-3 caption-order">
					<strong>お届け先</strong>
				</h4>
				<span class="col-xs-9 p-order">
					〒<%= @delivery_zip_code %>
					<%= @delivery_address %><br />
					<%= @delivery_name %>
				</span>
			</div>

		<div class="col-xs-offset-4">
			<%= form_for(@order, url: orders_path) do |f| %>
				<%= f.hidden_field :total_price, value: @order.total(current_customer) %>
				<%= f.hidden_field :is_credit, value: @is_credit %>
				<%= f.hidden_field :delivery_name,value:  @delivery_name %>
				<%= f.hidden_field :delivery_zip_code, value: @delivery_zip_code %>
				<%= f.hidden_field :delivery_address, value: @delivery_address %>
				<%= hidden_field_tag :is_new, @delivery_param %>
				<%= f.submit "購入を確定する", class: 'btn btn-order' %>
			<% end %>
		</div>
</div>