<div class="container">
	<div class="row">
		<div class="col-xs-7 offset-1">
			<h3>注文情報確認</h3>
			<table class="table">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価(税込)</th>
						<th>数量</th>
						<th>小計</th>
					</tr>
				</thead>
				<tbody>
					<% @cart_items.each do |cart_item| %>
						<tr>
							<td><%= cart_item.product.name %></td>
							<td><%= cart_item.product.tax_price %></td>
							<td><%= cart_item.quantity %></td>
							<td><%= cart_item.subtotal_price %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div><!--col-7-->
		<div class="col-xs-3">
			<table class="table">
				<tbody>
					<tr>
						<td>送料</td>
						<td><%= @order.postage_price %></td>
					</tr>
					<tr>
						<td>商品合計</td>
						<td><%= @order.cart_sum(current_customer) %></td>
					</tr>
					<tr>
						<td>請求金額</td>
						<td><%= @order.total(current_customer) %></td>
					</tr>
				</tbody>
			</table>
		</div><!--col3-->


	</div><!--row-->
	<div class="row">
		<h4>支払方法</h4>
		<%= @is_credit %>
	</div>
	<div class="row">
		<h4>お届け先</h4>
		<%= @delivery_zip_code %><br />
		<%= @delivery_address %><br />
		<%= @delivery_name %><br />
	</div>



	<div class="row">
		<%= form_for(@order, url: orders_path) do |f| %>
			<%= f.hidden_field :total_price, value: @order.total(current_customer) %>
			<%= f.hidden_field :is_credit, value: @is_credit %>
			<%= f.hidden_field :delivery_name,value:  @delivery_name %>
			<%= f.hidden_field :delivery_zip_code, value: @delivery_zip_code %>
			<%= f.hidden_field :delivery_address, value: @delivery_address %>
			<%= hidden_field_tag :is_new, @delivery_param %>
			<%= f.submit "購入を確定する" %>
		<% end %>
	</div>
</div>