<h2 class="text-center headline-order"><strong>注文履歴一覧</strong></h2>
<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
				<table class="table table-bordered">
						<tr>
							<th class="caption-order">注文日</th>
							<th class="caption-order">配送先</th>
							<th class="caption-order">注文商品</th>
							<th class="caption-order">支払金額</th>
							<th class="caption-order">ステータス</th>
							<th></th>
						</tr>
					<% @orders.each do |order| %>
						<tr>
							<td class="p-order"><%= order.created_at.strftime("%Y/%m/%d") %></td>
							<td class="p-order">
								<%= order.delivery_zip_code %>
								<%= order.delivery_address %>
								<%= order.delivery_name %>
							</td>
							<td class="p-order">
								<% order.ordered_products.each do |ordered_product| %>
									<%= ordered_product.name %>
								<% end %>
							</td>
							<td class="p-order"><%= order.order_total %></td>
							<td class="p-order"><%= order.ordered_status %></td>
							<td><%= link_to "表示", order_path(order) %></td>
						</tr>
					<% end %>
			</table>
		</div>
	</div>
</div>