<h3 class="text-center headline-order"><strong>注文履歴詳細</strong></h3>
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h4 class="heasline-order"><strong>注文情報</strong></h4>
			<table class="table table-bordered">
				<tr>
					<th class="caption-order">注文日</th>
					<td class="p-order"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
				</tr>
				<tr>
					<th class="caption-order">配送先</th>
					<td class="p-order">
						<%= @order.delivery_zip_code %>
						<%= @order.delivery_address %><br>
						<%= @order.delivery_name %>
					</td>
				</tr>
				<tr>
					<th class="caption-order">支払方法</th>
					<td class="p-order"><%= @order.is_credit %></td>
				</tr>
				<tr>
					<th class="caption-order">ステータス</th>
					<td class="p-order"><%= @order.ordered_status %></td>
				</tr>
			</table>
		</div>

		<div class="col-sm-4">
			<h4 class="headline-order"><strong>請求情報</strong></h4>
			<table class="table table-bordered">
				<tr>
					<th class="caption-order">商品合計</th>
					<td class="p-order"><%= @order.product_sum %></td>
				</tr>
				<tr>
					<th class="caption-order">配送料</th>
					<td class="p-order"><%= @order.postage %></td>
				</tr>
				<tr>
					<th class="caption-order">ご請求額</th>
					<td class="p-order"><%= @order.order_total %></td>
				</tr>
			</table>
		</div>

		<div class="col-sm-12">
			<h4 class="headline-order"><strong>注文内容</strong></h4>
			<table class="table table-bordered">
				<tr>
					<th class="caption-order">商品</th>
					<th class="caption-order">単価（税込）</th>
					<th class="caption-order">個数</th>
					<th class="caption-order">小計</th>
				</tr>
				<% @ordered_products.each do |ordered_product| %>
				<tr>
					<td class="p-order"><%= ordered_product.name %></td>
					<td class="p-order"><%= ordered_product.price %></td>
					<td class="p-order"><%= ordered_product.quantity %></td>
					<td class="p-order"><%= ordered_product.subtotal_price %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>