<div class="bg-admin">
	<h3 class="text-center headline-admin"><strong>商品一覧</strong></h3>
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<%= link_to "商品追加", new_admins_product_path, class: 'btn btn-admin' %>
				<table class="table table-admin">
					<thead>
						<tr>
							<th class="caption-admin">商品ID</th>
							<th class="caption-admin">商品名</th>
							<th class="caption-admin">税抜価格</th>
							<th class="caption-admin">ジャンル</th>
							<th class="caption-admin">ステータス</th>
						</tr>
					</thead>
					<tbody>
						<% @products.each do |product| %>
							<tr>
								<td class="p-admin"><%= product.id %></td>
								<td class="p-admin"><strong><%= link_to "#{product.name}", admins_product_path(product.id) %></strong></td>
								<td class="p-admin"><%= product.price %>円</td>
								<td class="p-admin"><%= product.genre.name %></td>
								<td class="p-admin"><%= product.is_active %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
</div>