<h3 class="text-center">商品詳細</h3>
<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="col-sm-5">
				<%= attachment_image_tag @product, :image, size:"250x300" %>
			</div>
			<div class="col-sm-7">
				<div class="row">
					<label class="col-sm-4">商品名</label>
					<p class="col-sm-8"><%= @product.name %></p>
				</div>
				<div class="row">
					<label class="col-sm-4">説明文</label>
					<p class="col-sm-8"><%= @product.introduction %></p>
				</div>
				<div class="row">
					<label class="col-sm-4">ジャンル</label>
					<p class="col-sm-8"><%= @product.genre.name %></p>
				</div>
				<div class="row">
					<label class="col-sm-4">税抜価格(税込価格)</label>
					<p class="col-sm-8"><%= @product.price %>(<%= @product.tax_price %>)円</p>
				</div>
				<div class="row">
					<label class="col-sm-4">販売ステータス</label>
					<p class="col-sm-8"><%= @product.is_active %></p>
				</div>

				<%= link_to "編集する", edit_admins_product_path(@product.id), class: "btn btn-success col-sm-4 col-sm-offset-4"%>
			</div>
		</div>
	</div>
</div>