<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <table class="table">
        <thead>
          <tr>
            <td colspan="3" class="fontsize">Genres</td>
          </tr>
        </thead>
        <tbody>
          <td><%= render "products/genre_search", genres: @genre %></td>
        </tbody>
      </table>

		<div class="col-xs-10">
		    <table class="table">
		      <div class="col-xs-2">
		          <td class="image_id">
		            <%= attachment_image_tag @product, :image, size: "280x280" %>
		          </td>
		          <td class="col-xs-3 text-right">
		            <h4><%= @product.name %></h4></br>
		            <p><%= @product.introduction %></p></br>
		            <p><%= "¥#{(@product.tax_price)}" %>(税込)</p></br>


		            <% if @product.is_active == "販売中" %>
         			    <%= form_for(@cart_item) do |f| %>
							<%= f.select :quantity,(1..10),{},class:"form-control" %>
		            		<%= f.hidden_field :product_id, :value => @product.id %>
						 	<%= f.submit "カートに入れる", class:"btn btn-primary" %>
						<% end %>
		            <% else %>
		            	<p>売り切れ</p>
		            <% end %>
		          </td>
		      </div>
		    </table>
		  </div>
		</div>
	</div>
</div>