<div class="bg-admin">
	<h3 class="text-center headline-admin"><strong>注文履歴一覧</strong></h3>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<table class="table table-responsive table-admin">
					<tr>
						<th class="headline-admin">購入日時</th>
						<th class="headline-admin">購入者</th>
						<th class="headline-admin">注文個数</th>
						<th class="headline-admin">注文ステータス</th>
					</tr>
					<% @orders.each do |order| %>
						<tr>
							<td class="p-admin">
								<strong>
									<%= link_to admin_order_path(order.id) do %>
										<%= order.created_at.strftime('%Y/%M/%D/%H:%M:%S') %>
									<% end %>
								</strong>
							</td>
							<td class="p-admin"><%= order.customer_last_name %><%= order.customer_first_name %></td>
							<td class="p-admin"><%= order.total_count %></td>
							<td class="p-admin"><%= order.ordered_status %></td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>