<!DOCTYPE html>
<html>
  <head>
    <title>Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-10">

          <div class="nav">
            <%= link_to root_path,method: :get do %><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</button><% end %>

            <% if admin_signed_in? %>
              <%= link_to admin_products_path, method: :get do %>商品一覧<% end %>
              <%= link_to admin_customers_path, method: :get do %>会員一覧<% end %>
              <%= link_to admin_orders_path, method: :get do %>注文履歴一覧<% end %>
              <%= link_to admin_genres_path, method: :get do  %>ジャンル一覧<% end %>
              <%= link_to destroy_admin_session_path, method: :delete do %>ログアウト<% end %>

            <% elsif customer_signed_in? %>

              <%= link_to customer_path(current_customer.id),method: :get do %><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> My Page</button><% end %>

              <%= link_to products_path, method: :get do %><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Products</button><% end %>

              <%= link_to cart_items_path(current_customer.id), method: :get do %><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart</button><% end %>

              <%= link_to destroy_customer_session_path, method: :delete do %><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log Out</button><% end %>

              <div class="customer-name">
                <h3>おかえりなさい！<%= current_customer.last_name + " " + current_customer.first_name %>さん</h3>
              </div>

            <% else %>
              <%= link_to products_path, method: :get do %><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Products</button><% end %>
              <%= link_to new_customer_registration_path, method: :get do %><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign Up</button><% end %>
              <%= link_to new_customer_session_path, method: :get do %><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log In</button><% end %>
            <% end %>
         </div>
        </div>
      </div>
    </div>
</header>

    <%= yield %>

  </body>
</html>

