<!DOCTYPE html>
<html>
  <head>
    <title>Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <% if customer_signed_in? %>
            <%= current_customer.last_name %>さん
          <% end %>

          <div class="nav">
            <%= link_to root_path,method: :get do %>トップ<% end %>
            <%= link_to home_about_path,method: :get do %>アバウト<% end %>

            <% if customer_signed_in? %>
              <%= link_to customer_path(current_customer.id),method: :get do %>マイページ<% end %>
              <%= link_to products_path, method: :get do %>商品一覧<% end %>
              <%= link_to cart_items_path(current_customer.id), method: :get do %>カート<% end %>
              <%= link_to destroy_customer_session_path, method: :delete do %>ログアウト<% end %>

            <% else %>
              <%= link_to products_path, method: :get do %>商品一覧<% end %>
              <%= link_to new_customer_registration_path, method: :get do %>新規登録<% end %>
              <%= link_to new_customer_session_path, method: :get do %>ログイン<% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>

    <%= yield %>

  </body>
</html>

